<%= form_for(nominee) do |f| %>
  <% if nominee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nominee.errors.count, "error") %> prohibited this nominee from being saved:</h2>

      <ul>
      <% nominee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  
  <div class="field">
    <%= f.label :show %>
    <%= f.collection_select :show_id, Show.all, :id, :name, prompt: true %>
  </div>
  
  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
