<p id="notice"><%= notice %></p>

<h1>Nominees</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Show</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
  <% @nominees.each do |nominee| %>
    <tr>
      <td><%= nominee.name %></td>
      <td><%= nominee.show.name %></td>
      <td><%= nominee.category.name %></td>
      <td><%= link_to 'Edit', edit_nominee_path(nominee) %></td>
      <td><%= link_to 'Destroy', nominee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nominee', new_nominee_path %>
