<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @ballot.game.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @ballot.user.fname %>
</p>

<%= Ballot.count %>

<%= link_to 'Edit', edit_ballot_path(@ballot) %> |
<%= link_to 'Back', ballots_path %>
