<h2>Your Picks</h2>

<% @current_user.ballot.picks.each do |pick| %>

  <h3><%= pick.award.category.name %></h3>
    <%= pick.first_pick.nominee %> (3 pts)</br>
    <%= pick.second_pick.nominee %> (2 pts)</br>
    <%= pick.third_pick.nominee %> (1 pt)</br>
  
<% end %>

<p>You currently have <%=@current_user.total_points%> points.</p>
<p>You are in <%= User.count.ordinalize %> place out of <%= User.count %> player(s).</p>

<%= link_to 'Edit Picks', edit_ballot_path(@current_user.ballot) %>
