<h2>Your Picks</h2>

<% @current_user.ballot.picks.each do |pick| %>

  <%= pick.award.category.name %></br>
  <%= pick.first_pick.nominee %></br>
  <%= pick.second_pick.nominee %></br>
  <%= pick.third_pick.nominee %></br>
  
  <% end %>
  
<%= link_to 'Edit Picks', edit_ballot_path(@current_user.ballot) %>
