<%= form_for(nomination) do |f| %>
  <% if nomination.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nomination.errors.count, "error") %> prohibited this nomination from being saved:</h2>

      <ul>
      <% nomination.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :show_category_id %>
    <%= f.collection_select(:show_category_id, @show.categories, :show_category_id, :name) %>
  </div>

  <div class="field">
    <%= f.label :nominee %>
    <%= f.text_field :nominee, placeholder: 'Enter Name' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
